.mainContainer {
    background-image: url("./Zion.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    /* height: 600px; */
}
.header {
    background-color: rgb(58, 99, 81);
    height: 100px;
    color: rgb(228, 130, 87);
}
.list-group {
    display: flex;
    justify-content: space-evenly;
}