.mainContainer {
    background-image: url("./Zion.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    /* height: 600px; */
}
.header {
    background-color: rgb(58, 99, 81);
    height: 7rem;
    display: flex;
    justify-content: center;
}
.headerImage {
    background-image: url("./Rec-Hub.png");
    height: 7rem;
    width: 7rem;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.list-group {
    display: flex;
    justify-content: space-evenly;
}